{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><strong>{{ total | usd}}</strong></td>
            </tr>
        </tfoot>
        <tbody>
            {% for stocks in stocks %}
                <tr>
                    <td>{{ stocks.symbol }}</td>
                    <td>{{ stocks.name }}</td>
                    <td>{{ stocks.shares }}</td>
                    <td>{{ stocks.price | usd}}</td>
                    <td>{{ stocks.total | usd}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tbody>
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash | usd}}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}